APP_ENV=development
APP_NAME=leslie-blog-server

HTTP_HOST=0.0.0.0
HTTP_PORT=8080

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USERNAME=root
MYSQL_PASSWORD=
MYSQL_DATABASE=leslie_blog

REDIS_ADDR=127.0.0.1:6379
REDIS_PASSWORD=
REDIS_DB=0

JWT_SECRET=
JWT_EXPIRE_HOURS=24
